<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head') %>
        <title>Categories</title>
        <link rel="stylesheet" href="/css/products.css">
</head>

<body>

    <%- include('./partials/navbar') %>
        <% groceryData.forEach((key)=>{ %>
            <center>
            <div class="product">
                <div class="product-images">
                    <img src="<%= key.imgBuffer %>" alt="Motorola G34" class="main-image">
                </div>
                <div class="product-details">
                    <h1><%= key.title %></h1>
                    <div class="ratings">
                        <span>4.2 ★</span>
                        <span>1,00,698 Ratings & 7,042 Reviews</span>
                        <span class="assured">Assured</span>
                    </div>
                    <div class="price">
                        <span class="current-price">₹<%= key.discountPrice %></span>
                        <span class="original-price">₹<%= key.markedPrice %></span>
                        <% discount = Math.ceil(((key.markedPrice - key.discountPrice) / key.markedPrice) * 100);%>
                    <span class="discount"><%= discount %>%</span>
                    </div>
                    <form action="/cart/addToCart" method="post">
                        <input type="text" hidden="true" name="productId" value="<%=key._id%>">
                        <button class="btn btn-warning" type="submit" value="Submit" style="margin-top: 25px;margin-left: 50px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                            </svg> Add to Cart
                        </button>
                    </form>
                </div>
            </div>
        </center>
    <%}); %>

</body>

</html>